body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	color: orange;
	line-height: 30px;
}

header{
	background-color: antiquewhite;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Oswald', sans-serif;
}

header h1{
	color: mediumvioletred;
	font-size: 50px;
}

header img{
	border-radius: 200px;
	width: 300px;
	border: 20px solid mediumvioletred;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
	align-items: center;
}

h2{
	font-size: 30px;
	color: mediumvioletred;
	margin: 40px 0 10px;
}

a{
	color: lightskyblue;
}

a:hover{
	color: white;
	background-color: lightskyblue;
}

footer{
	background-color: antiquewhite;
	text-align: center;
	color: mediumvioletred;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: mediumvioletred;
}

footer a:hover{
	background-color: mediumvioletred;
}

P.caption{
	color: lightskyblue;
	font-style: italic;
	margin-top: 0;
}